In [3]:
import pandas as pd

df1 = pd.DataFrame({"ID": [1, 2], "Name": ["A", "B"]})
df2 = pd.DataFrame({"ID": [3, 4], "Name": ["C", "D"]})

# Append rows
df = pd.concat([df1, df2], ignore_index=True)
print(df)

   ID Name
0   1    A
1   2    B
2   3    C
3   4    D

In [ ]:
df1 = pd.DataFrame({"ID": [1, 2, 3], "Name": ["A", "B", "C"]})
df2 = pd.DataFrame({"ID": [1, 2, 4], "Salary": [50000, 60000, 70000]})

In [5]:
# Inner join (only common IDs)
df_inner = pd.merge(df1, df2, on="ID", how="inner")
df_inner = pd.merge(df1, df2, on="ID", how="inner")
print(df_inner)

   ID Name  Salary
0   1    A   50000
1   2    B   60000

In [6]:
# Inner join (only common IDs)
df_outer = pd.merge(df1, df2, on="ID", how="outer")
print(df_outer)

   ID Name   Salary
0   1    A  50000.0
1   2    B  60000.0
2   3    C      NaN
3   4  NaN  70000.0

In [7]:
# Left join (all from df1, match from df2)
df_left = pd.merge(df1, df2, on="ID", how="left")
print(df_left)

   ID Name   Salary
0   1    A  50000.0
1   2    B  60000.0
2   3    C      NaN

In [8]:
# Left join (all from df1, match from df2)
df_right = pd.merge(df1, df2, on="ID", how="right")
print(df_right)

   ID Name  Salary
0   1    A   50000
1   2    B   60000
2   4  NaN   70000

In [10]:
df1 = pd.DataFrame({"Name": ["A", "B", "C"]}, index=[1, 2, 3])
df2 = pd.DataFrame({"Salary": [50000, 60000, 70000]}, index=[1, 2, 4])

df_join = df1.join(df2, how="left")
print(df_join)

  Name   Salary
1    A  50000.0
2    B  60000.0
3    C      NaN

In [11]:
df1 = pd.DataFrame({"Category": ["Fruit", "Vegetable"]})
df2 = pd.DataFrame({"Item": ["Apple", "Banana", "Carrot"]})

# Cross join
df_cross = df1.merge(df2, how="cross")
print(df_cross)

    Category    Item
0      Fruit   Apple
1      Fruit  Banana
2      Fruit  Carrot
3  Vegetable   Apple
4  Vegetable  Banana
5  Vegetable  Carrot